<form action="/new/article" method="POST">
  <input class="editing-name" name="name" value="<%=@section.name%>">
  <input class="editing-body" name="body" value="<%=@section.body%>">
  <button type="submit">Submit Changes</button>>
</form>