<form action="/sessions" method="POST">
  <input type="text" name="name" placeholder="Your username!">
  <input type="password" name="password" placeholder="Your password!">
  <button>Log In</button>
</form>