<form action="/sessions" method="POST">
  <input type="text" name="name" placeholder="Enter full name">
  <input type="password" name="password" placeholder="Your password!">
  <button>Log In</button>
</form>

<p>Don't have an account? Sign up bellow!</p>

<form action="/users/new" method="POST">
  <input type="text" name="full_name" placeholder="Enter full name">

  <input type="password" name="password" placeholder="password">
  <input type="password" name="password_confirmation" placeholder="password confirmation">

  <input type="number" name="age" placeholder="Enter age">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="img_url" placeholder="profile picture URL">
  <button>Sign Up!</button>
</form>