<form method="POST" action="/users/new">
  <input name="name" placeholder="name">
  <input name="email" placeholder="email">
  <input type="number" name="age" placeholder="age">
  <input name="image_url" placeholder="img URL">
  <button>Submit</button>
</form>