<form action="/articles/<%= @article.id %>/sections/new" method="POST">
  <input class="editing-name" name="name" >
  <input class="editing-body" name="body" >
  <button type="submit">Submit Section</button>
</form>