<form method="POST" action="/articles/<%=@article.id%>/comments/new">
  <input name="name" placeholder="name">
  <input name="body" placeholder="enter comment">
  <button class="login">Submit</button>
</form>