<form method="POST" action="/articles/<%= @article.id %>/categories/new">
  <input class="editing-name" name="name" placeholder="category name">
  <button class="login" type="submit">Submit Section</button>
</form>