<form method="POST" action="/articles/new">
  <input name="name" placeholder="Title">
  <input name="category" placeholder="Category">
  <input name="section_one_name" placeholder="section one name">
  <input class="editing-body" name="section_one_body" placeholder="section one body">
  <button>Submit</button>
</form>