body{
  font-family: Interstate;
}
#logo{
  width: 180px;
  position: absolute;
  display: block;
  top: 25px;
  left: 25px;
}
.login{
  position: absolute;
  right: 10%;
  color: rgb(99,172,255);
  text-decoration: none;
}
#topbar{
  width: 90%;
  height: 80px;
}
#toolbar{
  float: right;
  width: 70%;
  padding-top: 20px;
}
.seperator{
  width:10%;
  height: 10px; 
  float: left;
}
.nav{
  color: rgb(255,73,76);
  font-size: 20px;
  height: 1px;
  float: top;
  text-decoration: none;
}
.with-bar{
  text-align: center;
  position: relative;
  top: 10px;
  float: left;
  width: 20%;
  height: 100%;
}
.underline{
  display: block;
  margin: 0 auto;
  width: 110px;
}
#dynamic{
  width: 80%;
  position: absolute;
  top: 120px;
  left: 100px;
  box-shadow: 0px 0px 2px 0px  #e6e6e6;
}
.new-article{
  color: rgb(255,73,76);
  font-weight: bold;
  font-size: 25px;
/*  background-color: white;
  border:solid lightgrey;
  border-radius: 5px;*/
  box-shadow: 0px 2px 2px #e6e6e6;
  width: 40px;
  height: 30px;
  top: 10px;
  right: 10px;
  text-align: center;
  padding-top: 10px;
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
}
.link{
  text-decoration: none;
}
.listing{
  list-style: none;
  box-shadow: 0px 2px  #e6e6e6;
  padding: 15px;
  position: relative;
  right: 15px;
  color: rgb(255,73,76);
}
/*for Aticle names on article page*/
#name{
  line-height: .4;
  font-size: 25px;
  text-decoration: none;
  color: grey;
}
/*for names in list pages*/
.name{
  line-height: .5;
  font-size: 25px;
  line-height: 2;
  color: grey;
  text-decoration: none;
}
.user{
  display: block;
  font-size: 11px;
  line-height: .3;
  color: rgb(99,172,255);
  text-decoration: none;
}
.date{
  width: 150px;
  float: left;
  color: lightgrey;
  font-size: 12px;
  line-height: 0;
}
.content{
  font-size: 16px;
  color: grey;
  display: block;
}
.article{
  padding: 20px;
  border: solid;
  border-color: lightgrey;
  border-radius: 2px;
  border-width: 1px;

}
.edit-button{
  /*height: 30px;*/
  width: 40px;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: rgb(99, 172, 255);
  color: rgb(99, 172, 255);
  padding: 2px;
  text-align: center;
  font-size: 10px;
  background-color: white;
}
.sections{
  list-style: none;
  padding: 15px;
}
.section-name{

  font-size: 20px;
  color: grey;
  text-decoration: none;

}
.comment-section{
  padding: 20px;
  border: solid;
  border-color: lightgrey;
  border-radius: 2px;
  border-width: 1px;
}
.header{
  font-size: 16px;
  color: grey;
  line-height: 2.5;
}
.sections{
  list-style: none;
}
.name{
  line-height: 2;
  font-size: 25px;
}
.comment{
  padding: 0px;
  list-style: none;
  font-size: 15px;
}
.editing-body{
  width: 60%;
  height: 200px;
  display: block;

}
.editing-name{
  display: block;

}
.user-image{
  height: 60px;
  width: 60px;
  border-radius: 100px;
}
.to-the-left{
  float: left;
}
.to-the-right{
  position: relative;
  left: 20px;
}
.make-height{
  height: 120px;
  list-style: none;
  box-shadow: 0px 2px  #e6e6e6;
}
.user-info{
  color: lightgrey;
  font-size: 12px;
  line-height: 1;
}
#user-show{
  list-style: none;
  box-shadow: 0px 2px  #e6e6e6;
  padding: 15px;
  position: relative;
  right: 0px;
  color: rgb(255,73,76);
}
.welcome{
  color: rgb(255,73,76);
  font-size: 30px;
}
.welcome-message{
  border-color: rgb(99, 172, 255);
  font-size: 18px;
}
.welcome-box{
  padding: 10px;
}
#homepage{
  width: 100%;
  display: block;
  margin: 0 auto;
/*  height: 200px;*/
}
#change-button{
  background-color: white;
  color: (255,73,76);
  border: none;
  font-size: 15px;
}
.category{
  color: rgb(99,172,255);
  text-decoration: none;
  font-size: 11px;
  float: left;
}
.categories{
  list-style: none;
}
.break{
  display: block;
  font-size: 11px;
  color: white;
  text-decoration: none;
  float: left;  
}
.in-block{
  display: block;
}

